/**
 * Setter for $3
 *
 * @param $2 $$3
 * @return $this
 */
public function set${1:VarName}(${2:Type} $${3:propName}) {
	$this->$3 = $$3;
	return $this;
}

/**
 * Getter for $3
 *
 * @param void
 * @return $2
 */
public function get$1() {
	return $this->$3;
}

